{% extends 'base.html' %}

{% block content %}
<br><br>
<h1>{% if 'placeOrder' in session %} {{ session['placeOrder'] }} {% else %} Place your Order! {% endif %}</h1>
<br><br>
<div id="lang" hidden="true">{{ lang }}</div>
<form action="#" method="post">
    <div class="form-group">
        <label for="PONbr">{% if 'purchaseOrderNumber' in session %} {{ session['purchaseOrderNumber'] }} {% else %} Purchase Order Number: {% endif %}</label>
        <input type="text" class='form-control' name="PONbr" id="PONbr" value="{{orderNbr}}" readonly/>
    </div>

    <div class="form-group mt-3">
          <label>{% if 'purchaser' in session %} {{ session['purchaser'] }} {% else %} Purchaser: {% endif %}</label>
           <!---<input type="text" class='form-control' name="purchaseName" id="purchaseName" value="{{username}}" readonly/>-->

          <select name="selectPurchaser" id="selectPurchaser" class=form-control required>
              <option value="">--{% if 'orderPurchaser' in session %} {{ session['orderPurchaser'] }} {% else %} Select a Purchaser{% endif %}--</option>
                  {% for purchaserName in listPurchaserName: %}
                      <option value='{{purchaserName}}'>{{purchaserName}}</option>
                  {% endfor %}
          </select>

    </div>
    <br>


        <table id="myTable"  class="table order-list table-sm" style="table-layout: fixed;">
       <div class="container p-0 m-0">
           <div class="row">
               <div class="col-2">
                   {% if 'supplier' in session %} {{ session['supplier'] }} {% else %} Supplier{% endif %}
               </div>

               <div class="col-1">
                   {% if 'quantity' in session %} {{ session['quantity'] }} {% else %} Quantity{% endif %}
               </div>
               <div class="col-2">
                   {% if 'partNumber' in session %} {{ session['partNumber'] }} {% else %} Part Number{% endif %}
               </div>
               <div class="col-4">
                   {% if 'partDescription' in session %} {{ session['partDescription'] }} {% else %} Part Description{% endif %}
               </div>
                <div class="col-2">
                    {% if 'unitPrice' in session %} {{ session['unitPrice'] }} {% else %} Unit price{% endif %}
               </div>
           </div>
           <div class="row">

               <div class="col-2">
                    <div class="input-group mb-3">
                        <select name="selectSupplier" id="selectSupplier" class='form-control' required>
                        <option value=''>--{% if 'supplier' in session %} {{ session['supplier'] }} {% else %} Please select a Supplier{% endif %}--</option>
                        {% for supplier in listSupplierNames: %}
                            <option value='{{supplier}}'>{{supplier}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>

                <div class="col-1">
                    <div class="input-group mb-3">
                         <input type="number" step="0" name="quantity" id="quantity" class='form-control' required />
                    </div>
                </div>

                 <div class="col-2">
                    <div class="input-group mb-3">
                         <input type="text" name="partNbr" id="partNbr" class='form-control' required />
                    </div>
                </div>

                <div class="col-4">
                    <div class="input-group mb-3">
                          <input type="text" name="partDesc" id="partDesc" class='form-control'  required />
                    </div>
                </div>

                <div class="col-2">
                    <div class="input-group mb-3">
                        <input type="number" step="any" name="unitprice" id="unitprice" class='form-control' required/>
                    </div>
                </div>

           <!--<div class="col-sm-2"><a class="deleteRow"></a></div> -->



            </div>
       </div>
</table>

            <div colspan="5" style="text-align: left;">
                <!--<input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" onclick="myFunc({{listPartNbr}})"/> -->
                <div class="d-grid col-6 mx-auto">
                    <input type="button" class="btn btn-primary btn-sm" id="addrow" value= "{% if 'addRow' in session %} {{ session['addRow'] }} {% else %} 'Add Row' {% endif %}"/>
                </div>
            </div>




    <button type="submit" class="btn btn-primary mt-4 bg-steel">Submit</button>

</form>

{% endblock content %}
