{% extends 'AdminBase.html' %}

{% block content %}
<br><br>
<h1>{% if 'addPurchaser' in session %} {{ session['addPurchaser'] }} {% else %} Add Purchaser {% endif %}</h1>
<br><br>
<form action="#" method="post">

  <div class="form-group">
    <label for="pName">{% if 'purchaserName' in session %} {{ session['purchaserName'] }}: {% else %} Purchaser Name: {% endif %}</label>
    <input type="text" class='form-control' name="pName" id="pName" required/>
  </div>

  <div class="form-group mt-3">
    <label for="selectDepartment">{% if 'purchaserDept' in session %} {{ session['purchaserDept'] }}: {% else %} Purchaser Department: {% endif %}</label>
    <select name="selectDepartment" id="selectDepartment" class=form-control required>
      <option value="">--{% if 'purchaserDept' in session %} {{ session['purchaserDept'] }} {% else %} Purchaser Department {% endif %}--</option>
        {% for deptNames in listDeptNames: %}
          <option value='{{deptNames}}'>{{deptNames}}</option>
        {% endfor %}
      </select>
  </div>

  <div class="form-group mt-3">
    <label>{% if 'purchaserActive' in session %} {{ session['purchaserActive'] }}: {% else %} Purchaser Active: {% endif %}</label>
    <p>
      <input type="radio" class='form-check-input' id='pActive1' name="pActive" value="YES" required> {% if 'yes' in session %} {{ session['yes'] }} {% else %} Yes{% endif %}
      <input type="radio" class='form-check-input' id='pActive2' name="pActive" value="NO" required> {% if 'no' in session %} {{ session['no'] }} {% else %} No{% endif %}
    </p>
  </div>



  <button type="submit" class="btn btn-primary mt-4 bg-steel">Submit</button>
</form>

{% endblock content %}
