{% extends 'base.html' %}

{% block content %}

<!--
<h1>{% if 'login' in session %} {{ session['login'] }} {% else %} Rest User Password {% endif %}</h1>
-->
<h1>Reset User Password</h1>

<br>
<form action="#" method="post" class="form-group">
    <div class="form-group">
        <div class="form-group">
            <label for="username">{% if 'userNm' in session %} {{ session['userNm'] }} {% else %} Username {% endif %}</label>
            <input type="text" class='form-control' id="username" name="username" required>
        </div>
        <br>
        <div class="form-group">
            <label for="password">{% if 'pw' in session %} {{ session['pw'] }} {% else %} Password {% endif %}</label>
            <input type="password" class='form-control' id="password" name="password" minlength="8" maxlength="20" required>
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary mt-4 bg-steel">Submit</button>

</form>

{% endblock content %}
